body {
    background-color: lightblue;
    text-align: center;
}

button {
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    border-color: royalblue;
    padding: 10px 50px;
    font-size: 15px;
    margin-bottom: 20px;
}

button:hover {
    background-color: coral;
    border-color: lightcoral
}

h {
    font-weight: bold;
    font-size: 40px;
    font-family: "American Typewriter", serif;
}

body {
    background-color: aliceblue;
}

table {
    margin: auto;
    background-color: #c5fdff;
    border: 2px solid #eafeff;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#mastertable {
    width: 70%;
    border: 2px solid midnightblue;
}

th {
    font-weight: bold;
    text-align: center;
    color: #8058da;
    background-color: #d7c5ff;
    border: 4px solid #eafeff;
    padding: 5px;
}

#masterheader {
    font-weight: normal;
    color: purple;
    background-color: skyblue;
    border: 2px solid midnightblue;
}

#masterdata {
    background-color: skyblue;
}

tr:nth-child(even) {
    background-color: #d5fcfe;
}

td {
    padding: 5px;
    border: 1px solid #eafeff;
}

input {
    border-radius: 5px;
    padding: 10px 10px;
    border-color: cadetblue;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#split {
    display: flex;
    justify-content: space-between;
}