<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="../static/style.css" />

    <head>
        <title>Login Page</title>
    </head>
    <h>Login Page</h>
    <form id="login">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autocomplete="on">

        <div><label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="on">
        </div>
        <button type="submit" id="signer">Sign In</button>
    </form>



    <!-- <a id="admin-url" type="hidden" href=http://127.0.0.1:5000/admin/username_password>click me to go to admin page</a> -->

</body>
<script type="text/javascript" src="../static/script.js"></script>

</html>