<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
</head>

<body onload="getName()">


    <header>
        <div id="split">

            <span>
                <h id="welcome">Welcome</h>
            </span>
            <span>
                <h id="university">University</h>
            </span>

            <span>
                <h id="signout"><a href="loginpage.html"> Sign Out</a></h>
            </span>
        </div>
    </header>

    <button onclick="showMy()">Show my Classes</button>
    <table id="student_myClasses">
        <tr>
            <th>course name</th>
            <th>teacher name</th>
            <th>time</th>
            <th>capacity</th>
            <th>enrolled</th>
            <th>id</th>
        </tr>
    </table>

    <!-- <a href="loginpage.html"> sign out</a>
    <p id="myClasses"> myClasses: </p>
    -->

    <button onclick="showAll()">Show all Classes</button>
    <table id="text"></table>
    <p id="allClasses">allClasses: </p>
    <table id="student_allClasses">
        <tr>
            <th>course name</th>
            <th>teacher name</th>
            <th>time</th>
            <th>capacity</th>
            <th>enrolled</th>
            <th>id</th>
        </tr>

    </table>


    <form id="addClass">
        <label for="add">add class</label>
        <input id="add" name="add" autocomplete="on">
        <button type="submit" id="addClass">add</button>
    </form>

    <form id="deleteClass">
        <label for="delete">delete class</label>
        <input id="delete" name="delete" autocomplete="on">
        <button type="submit" id="delete">delete</button>
    </form>


</body>
<script type="text/javascript" src="../static/script.js"></script>

</html>